.kep1{
    width: 30%;
}
body{
    background-image: url(háttér.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: black;
    text-shadow: 1.5px 1.5px 1.5px lightgray;
    font-size: 1.5em;
    font-weight: bolder;
    margin: 30px;
}
.hero{
    position: relative;
    background-image:
    linear-gradient(
        to right,
        rgba(255,255,255,0.15),
        rgba(0,0,0,0.55)
    ),
    url("4978c482-1d61-44c2-98eb-be5d1f5510d5.png");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.text-box{
    background: rgba(0, 0, 0, 0.288);
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
    color: white;
}
h1{
    text-align: center;
}
table{
    width: 100%;
}
td{
    width: 25%;
    padding: 20px;
}
img{
    width: 100%;
    height: auto;
    display: block;
}